@{
  Layout = "_Layout";
}
<hr />

@model BracketTracker.Controllers.DatabaseInfo

@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-primary" value="Log out" />
  }

  <p>To begin, click "Add Teams"</p>
  <p>@Html.ActionLink("Add Teams", "Create", "Teams")</p>
  <p>@Html.ActionLink("See All Teams", "Index", "Teams")</p>
}
else
{
  <p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>
}


<h4>Teams</h4>
@if (Model.AllTeams.Count() == 0)
{
  <p>No teams yet</p>
}

<ul>
@foreach (var team in Model.AllTeams)
{
  <li>@Html.ActionLink($"{team.Name}", "Details", new { id = team.TeamId })</li>
}
</ul>

<p>@Html.ActionLink("See all teams", "Index", "Teams")</p>