@{
  Layout = "_Layout";
}

@model BracketTracker.Models.Round

<h2>Determine Players in Round- and Outcome!</h2>

<h4>Add Teams to this Round: </h4>
<h4>Toggle the Circle Button to enter the winner</h4>
<br>
@using (Html.BeginForm())
{
    <label>Team One: </label>
    @Html.DropDownList("TeamId")
    <span> Toggle button to indicate that this team won: </span>@Html.RadioButtonFor(model => model.Result, "true")
    <br>
    <br>
    <label>Team Two: </label>
    @Html.DropDownList("TeamId")
    <span> Toggle button to indicate that this team won: </span>@Html.RadioButtonFor(model => model.Result, "false")
    <br>
    <br>
    <input type="submit" value="Add Round Result">
}
<hr />
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
<p>@Html.ActionLink("See all Rounds completed this session", "Index")</p>
<p>@Html.ActionLink("See all Teams", "Index", "Teams")</p>