@{
  Layout = "_Layout";
  List<TeamRound> teamRounds = ViewBag.allTeamRounds;
}

<h2>SHOW ME SOME ROUNDS, BOY</h2>
<hr />

@using BracketTracker.Models

@if (Model.Count == 0)
{
  <p>No rounds yet</p>
}

<ol>
  @foreach (Round round in Model)
  {
    <li>Round @round.RoundId
      @foreach (TeamRound teamRound in teamRounds)
      {
        @if (round.RoundId == teamRound.RoundId)
        {
          @if (teamRound.Outcome == true)
          {
            @if (teamRound.Team.Name != "")
            {
              <p>Winner: @teamRound.Team.Name</p>
            }
          }
          else
          {
              <p>Loser: @teamRound.Team.Name</p>
          }
        }
      }
      </li>
  }
</ol>

<hr />
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
<p>@Html.ActionLink("See all Teams", "Index", "Teams")</p>
<p>@Html.ActionLink("New Round, Same Session?", "Create")</p>
<p>@Html.ActionLink("Add more Teams", "Create", "Teams")</p>