@{
  Layout = "_Layout";
}

<h2>SHOW ME SOME ROUNDS, BOY</h2>

@using BracketTracker.Models

@if (Model.Count == 0)
{
  <p>No rounds yet</p>
}
<ol>
  @foreach (TeamRound teamRound in Model)
  {
    @if (teamRound.Outcome == true)
    {
      <li>Round Winner
      <p>@teamRound.Team.Name</p>
      </li>
    }
  }
</ol>

<hr />

@* <ol>
  @foreach (TeamRound teamRound in Model)
  {
    @if (teamRound.Outcome == false)
    {
      <li>Round Lahoooo- zeh- herrrrrrrrr
      <p>@teamRound.Team.Name</p>
      </li>
    }
  }
</ol> *@
<hr />
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
<p>@Html.ActionLink("See all Teams", "Index", "Teams")</p>
<p>@Html.ActionLink("New Round, Same Session?", "Create")</p>
<p>@Html.ActionLink("Add more Teams", "Create", "Teams")</p>