@{
  Layout = "_Layout";
}

@model BracketTracker.Models.Team

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add Team">
}
<hr />
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
<p>@Html.ActionLink("See all Teams", "Index")</p>
<p>@Html.ActionLink("See all completed Rounds this session", "Index", "Rounds")</p>