@{
	Layout = "_Layout";
	List<Player> playerList = ViewBag.PlayersList;
}

@using BracketTracker.Models
@model BracketTracker.Models.Team

<h2>Team Record:</h2>
<hr />

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model =>model.Name)</h3>

@if (@Model.JoinEntities.Count == 0)
{
	<p>This team has no record. Put 'em in, coach!</p>
	@Html.ActionLink("And by that, I mean put them in a round", "Create", "Rounds")
}
else
{
	<p>Involved in Rounds:</p>
	<ul>
	@if (@Model.JoinEntities.Count == 0)
		{
			<p>This team has no record!</p>
		}
		else
		{
			@foreach (TeamRound teamRound in Model.JoinEntities)
			{
				<li>Round @teamRound.RoundId | @if (teamRound.Outcome == false)
					{
						<span>Lost</span>
						;
					}
					else
					{
						<span>Won</span>
					}
				</li>
			}
		}
	</ul>
}

<p>Team Wins: @Model.Wins</p>
<p>Team Losses: @Model.Losses</p>

<hr />

@if (Model.PlayerTeams.Count == 0)
{
	<p>This team has no players on it yet!</p>
}
else
{
	<ul>
	@foreach (PlayerTeam playerTeam in Model.PlayerTeams)
		{
			<li>@nameof(playerTeam.Player.Name): @playerTeam.Player.Name</li>
			<ul>
				<li>@nameof(playerTeam.Player.Powerscore): @playerTeam.Player.Powerscore</li>
			</ul>
		}
	</ul>
}

<p>@Html.ActionLink("Add player to mah team", "AssignPlayer", "Players", new { teamId = Model.TeamId })</p>

<hr />
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
<p>@Html.ActionLink("Back to Teams", "Index")</p>
<p>@Html.ActionLink("See all completed Rounds this Session", "Index", "Rounds")</p>
<p>@Html.ActionLink("Delete this Team?", "Delete", new { id = Model.TeamId})</p>
