@{
  Layout = "_Layout";
}

@using BracketTracker.Models

@if (Model.Count == 0)
{
  <p>No teams yet</p>
}

<ul>
@foreach (Team team in Model)
{
  <li>@team.Name</li>
}
</ul>
<hr />
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
<p>@Html.ActionLink("Add another Team", "Create")</p>
<p>@Html.ActionLink("Enough Teams, I'm ready to check some boxes!", "Create", "Rounds")</p>
<p>@Html.ActionLink("See all completed Rounds this session", "Index", "Rounds")</p>